<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>energy_image_x3/electric_energy_img_x3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>energy_image_x3/fighting_energy_img_x3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,543},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>energy_image_x3/fire_energy_img_x3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1085},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>energy_image_x3/grass_energy_img_x3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1627},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>energy_image_x3/normal_energy_img_x3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,2169},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>energy_image_x3/psychic_energy_img_x3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,2711},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>energy_image_x3/water_energy_img_x3_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,3253},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>energy_images_x3.png</string>
      <key>size</key>
      <string>{512,4096}</string>
      <key>textureFileName</key>
      <string>energy_images_x3.png</string>
    </dict>
  </dict>
</plist>
