<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>energies/x3/energy_dark.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_dragon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,66},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_electric.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,131},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_fighting.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,196},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_fire.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,261},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_grass.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,326},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,391},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_psychic.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,456},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_steel.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,521},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x3/energy_water.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,586},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>energies/x1/energy_dark.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,651},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_dragon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,674},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_electric.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,697},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_fighting.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,720},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_fire.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,743},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_grass.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,766},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,789},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_psychic.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,812},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_steel.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,835},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>energies/x1/energy_water.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,858},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>energies.png</string>
      <key>size</key>
      <string>{128,1024}</string>
      <key>textureFileName</key>
      <string>energies.png</string>
    </dict>
  </dict>
</plist>
