<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>duelist_x3/duelist_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,144},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,287},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_11.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,430},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_12.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,573},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_13.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,716},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_14.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,859},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_15.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1002},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_16.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1145},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_17.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1288},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_18.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1431},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_19.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1574},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1717},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_20.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1860},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_21.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_22.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,144},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_23.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,287},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_24.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,430},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_25.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,573},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_26.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,716},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_27.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,859},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_28.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1002},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_29.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1145},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_30.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1288},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_31.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1431},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_32.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1574},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_33.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1717},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_34.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,1860},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_35.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_36.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,144},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_37.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,287},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_38.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,430},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_39.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,573},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,716},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_40.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,859},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1002},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1145},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1288},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1431},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1574},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_z.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,1717},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>duelist_x3/duelist_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1717},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>character_portraits_x3.png</string>
      <key>size</key>
      <string>{512,2048}</string>
      <key>textureFileName</key>
      <string>character_portraits_x3.png</string>
    </dict>
  </dict>
</plist>
