<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>mini_pokemon/zapdos.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{92,76}}</string>
        <key>offset</key>
        <string>{4,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,24},{92,76}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/pinsir.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,1},{92,70}}</string>
        <key>offset</key>
        <string>{-6,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,24},{92,70}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/charizard.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,1},{88,78}}</string>
        <key>offset</key>
        <string>{-4,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,30},{88,78}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/kingler.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,73},{88,76}}</string>
        <key>offset</key>
        <string>{0,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{12,34},{88,76}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/jynx.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,79},{88,66}}</string>
        <key>offset</key>
        <string>{2,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,38},{88,66}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/venusaur.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,147},{86,78}}</string>
        <key>offset</key>
        <string>{3,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,30},{86,78}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/nidoking.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,1},{84,66}}</string>
        <key>offset</key>
        <string>{2,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,40},{84,66}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/machamp.png</key>
      <dict>
        <key>frame</key>
        <string>{{365,1},{80,72}}</string>
        <key>offset</key>
        <string>{-2,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,36},{80,72}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/victreebel.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,69},{78,64}}</string>
        <key>offset</key>
        <string>{3,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,40},{78,64}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/vaporeon.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,81},{78,60}}</string>
        <key>offset</key>
        <string>{5,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,48},{78,60}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/seaking.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,143},{78,58}}</string>
        <key>offset</key>
        <string>{1,-19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,46},{78,58}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/gyarados.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,203},{76,80}}</string>
        <key>offset</key>
        <string>{4,-12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,28},{76,80}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/snorlax.png</key>
      <dict>
        <key>frame</key>
        <string>{{89,151},{76,80}}</string>
        <key>offset</key>
        <string>{-4,-16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,32},{76,80}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/golem.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,227},{76,66}}</string>
        <key>offset</key>
        <string>{-8,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{10,40},{76,66}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/scyther.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,233},{74,78}}</string>
        <key>offset</key>
        <string>{-3,-3}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{20,20},{74,78}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/caterpie.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,233},{28,32}}</string>
        <key>offset</key>
        <string>{0,-34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,74},{28,32}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/arcanine.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,295},{74,74}}</string>
        <key>offset</key>
        <string>{3,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,34},{74,74}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/kakuna.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,267},{26,36}}</string>
        <key>offset</key>
        <string>{-1,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,70},{26,36}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/dewgong.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,1},{74,74}}</string>
        <key>offset</key>
        <string>{-1,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,34},{74,74}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/rapidash.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,75},{74,68}}</string>
        <key>offset</key>
        <string>{7,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,40},{74,68}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/magmar.png</key>
      <dict>
        <key>frame</key>
        <string>{{359,145},{72,72}}</string>
        <key>offset</key>
        <string>{2,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,34},{72,72}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/alakazam.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,135},{72,70}}</string>
        <key>offset</key>
        <string>{-6,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,26},{72,70}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/nidoqueen.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,207},{70,70}}</string>
        <key>offset</key>
        <string>{1,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,34},{70,70}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/pidgeot.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,1},{70,68}}</string>
        <key>offset</key>
        <string>{5,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,40},{70,68}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/kangaskhan.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,1},{70,66}}</string>
        <key>offset</key>
        <string>{5,-9}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,32},{70,66}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/blastoise.png</key>
      <dict>
        <key>frame</key>
        <string>{{667,1},{68,76}}</string>
        <key>offset</key>
        <string>{-2,-14}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,32},{68,76}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/hitmonchan.png</key>
      <dict>
        <key>frame</key>
        <string>{{595,69},{68,70}}</string>
        <key>offset</key>
        <string>{-2,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{24,38},{68,70}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/electabuzz.png</key>
      <dict>
        <key>frame</key>
        <string>{{523,71},{66,70}}</string>
        <key>offset</key>
        <string>{5,-11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,32},{66,70}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/marowak.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,77},{66,60}}</string>
        <key>offset</key>
        <string>{-5,-6}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{22,32},{66,60}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/gengar.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,139},{64,70}}</string>
        <key>offset</key>
        <string>{0,-17}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,38},{64,70}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/dugtrio.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,1},{64,68}}</string>
        <key>offset</key>
        <string>{0,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{28,42},{64,68}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/wigglytuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{803,1},{62,76}}</string>
        <key>offset</key>
        <string>{5,-2}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,20},{62,76}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/starmie.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,71},{60,62}}</string>
        <key>offset</key>
        <string>{2,-5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,30},{60,62}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/haunter.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,79},{60,52}}</string>
        <key>offset</key>
        <string>{-4,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,54},{60,52}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/sandslash.png</key>
      <dict>
        <key>frame</key>
        <string>{{665,133},{58,60}}</string>
        <key>offset</key>
        <string>{1,-10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,36},{58,60}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/kadabra.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,141},{58,50}}</string>
        <key>offset</key>
        <string>{-1,-15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,46},{58,50}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/jolteon.png</key>
      <dict>
        <key>frame</key>
        <string>{{591,193},{56,62}}</string>
        <key>offset</key>
        <string>{4,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,46},{56,62}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/hitmonlee.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,143},{56,58}}</string>
        <key>offset</key>
        <string>{0,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,50},{56,58}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/diglett.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,143},{30,28}}</string>
        <key>offset</key>
        <string>{1,-36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{46,78},{30,28}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/metapod.png</key>
      <dict>
        <key>frame</key>
        <string>{{559,173},{24,36}}</string>
        <key>offset</key>
        <string>{0,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{48,70},{24,36}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/krabby.png</key>
      <dict>
        <key>frame</key>
        <string>{{501,203},{56,42}}</string>
        <key>offset</key>
        <string>{2,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,64},{56,42}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/farfetch_d.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,211},{52,44}}</string>
        <key>offset</key>
        <string>{2,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,62},{52,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/graveler.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,219},{52,44}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,62},{52,44}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/rattata.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,219},{40,42}}</string>
        <key>offset</key>
        <string>{0,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,64},{40,42}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/machoke.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,247},{52,44}}</string>
        <key>offset</key>
        <string>{0,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,62},{52,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/butterfree.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,247},{48,48}}</string>
        <key>offset</key>
        <string>{0,-24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,56},{48,48}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/ponyta.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,297},{48,46}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,60},{48,46}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/magneton.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,345},{48,44}}</string>
        <key>offset</key>
        <string>{2,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{34,60},{48,44}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/wartortle.png</key>
      <dict>
        <key>frame</key>
        <string>{{541,391},{48,44}}</string>
        <key>offset</key>
        <string>{4,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,62},{48,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/raichu.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,257},{50,48}}</string>
        <key>offset</key>
        <string>{5,-26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,58},{50,48}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/bulbasaur.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,263},{40,38}}</string>
        <key>offset</key>
        <string>{0,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,68},{40,38}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/beedrill.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,265},{50,46}}</string>
        <key>offset</key>
        <string>{1,-25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,58},{50,46}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/growlithe.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,303},{42,44}}</string>
        <key>offset</key>
        <string>{3,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,62},{42,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/meowth.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,349},{42,42}}</string>
        <key>offset</key>
        <string>{3,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,64},{42,42}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/ivysaur.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,393},{42,40}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,66},{42,40}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/seel.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,293},{50,46}}</string>
        <key>offset</key>
        <string>{1,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,60},{50,46}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/raticate.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,307},{50,42}}</string>
        <key>offset</key>
        <string>{1,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,64},{50,42}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/goldeen.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,341},{48,38}}</string>
        <key>offset</key>
        <string>{2,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,68},{48,38}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/geodude.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,351},{48,30}}</string>
        <key>offset</key>
        <string>{0,-35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,76},{48,30}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/persian.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,381},{46,44}}</string>
        <key>offset</key>
        <string>{-1,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{32,62},{46,44}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/abra.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,383},{46,42}}</string>
        <key>offset</key>
        <string>{1,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,56},{46,42}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/gastly.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,279},{46,42}}</string>
        <key>offset</key>
        <string>{3,-29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,64},{46,42}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/magikarp.png</key>
      <dict>
        <key>frame</key>
        <string>{{263,323},{44,48}}</string>
        <key>offset</key>
        <string>{2,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,60},{44,48}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/charmeleon.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,313},{44,46}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,60},{44,46}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/weepinbell.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,361},{44,40}}</string>
        <key>offset</key>
        <string>{2,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,66},{44,40}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/pidgeotto.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,403},{42,40}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,66},{42,40}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/eevee.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,403},{34,36}}</string>
        <key>offset</key>
        <string>{1,-32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,70},{34,36}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/staryu.png</key>
      <dict>
        <key>frame</key>
        <string>{{353,441},{34,34}}</string>
        <key>offset</key>
        <string>{1,-23}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,62},{34,34}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/pikachu.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,285},{42,40}}</string>
        <key>offset</key>
        <string>{1,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,66},{42,40}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/machop.png</key>
      <dict>
        <key>frame</key>
        <string>{{227,285},{32,40}}</string>
        <key>offset</key>
        <string>{0,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{44,66},{32,40}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/charmander.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,313},{42,38}}</string>
        <key>offset</key>
        <string>{1,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,68},{42,38}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/squirtle.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,313},{42,34}}</string>
        <key>offset</key>
        <string>{1,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,72},{42,34}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/cubone.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,327},{40,38}}</string>
        <key>offset</key>
        <string>{-4,-21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,58},{40,38}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/sandshrew.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,349},{40,36}}</string>
        <key>offset</key>
        <string>{0,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,60},{40,36}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/bellsprout.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,353},{40,30}}</string>
        <key>offset</key>
        <string>{2,-35}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,76},{40,30}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/nidorina.png</key>
      <dict>
        <key>frame</key>
        <string>{{77,385},{38,44}}</string>
        <key>offset</key>
        <string>{1,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,62},{38,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/nidorino.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,327},{38,44}}</string>
        <key>offset</key>
        <string>{1,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,62},{38,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/chansey.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,367},{38,40}}</string>
        <key>offset</key>
        <string>{-1,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,56},{38,40}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/tangela.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,409},{38,36}}</string>
        <key>offset</key>
        <string>{1,-22}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,60},{38,36}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/jigglypuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,447},{36,40}}</string>
        <key>offset</key>
        <string>{-2,-20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,56},{36,40}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/nidoran-m.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,387},{36,40}}</string>
        <key>offset</key>
        <string>{0,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,66},{36,40}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/nidoran_f.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,429},{36,38}}</string>
        <key>offset</key>
        <string>{0,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,68},{36,38}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/pidgey.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,371},{36,34}}</string>
        <key>offset</key>
        <string>{0,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,72},{36,34}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/weedle.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,371},{32,34}}</string>
        <key>offset</key>
        <string>{0,-33}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,72},{32,34}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/nidoran_m.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,387},{36,40}}</string>
        <key>offset</key>
        <string>{0,-30}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,66},{36,40}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>mini_pet_collection.png</string>
      <key>size</key>
      <string>{1024,512}</string>
      <key>textureFileName</key>
      <string>mini_pet_collection.png</string>
    </dict>
  </dict>
</plist>
