<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>card_outer_background/card_outer_bg_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_10.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,543},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1085},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,1},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,1},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{1141,1},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,1},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_7.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,543},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_8.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,1085},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
      <key>card_outer_background/card_outer_bg_9.png</key>
      <dict>
        <key>frame</key>
        <string>{{761,543},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>outer_pet_pg.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>outer_pet_pg.png</string>
    </dict>
  </dict>
</plist>
