<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pet_collection_1/000.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/004_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,1},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/005_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/006_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,1},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/019_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,1},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/020_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,1},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/025_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,198},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/026_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,198},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/029_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,198},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/030_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,198},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/031_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,198},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/032_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,198},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/033_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,395},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/034_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,592},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/039_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,789},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/040_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,986},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/052_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1183},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/053_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1380},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/058_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1577},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/059_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1774},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/063_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,395},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/063_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,395},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/064_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,395},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/065_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,395},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/066_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,395},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/067_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,592},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/068_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,789},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/077_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,986},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/078_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,1183},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/081_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,1380},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/082_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,1577},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/083_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,1774},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/086_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,592},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/087_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,592},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/106_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,592},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/107_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,592},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/113_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,789},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/114_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,789},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/115_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,789},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/118_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,789},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/119_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,986},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/120_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1183},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/121_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1380},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/123_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1577},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/125_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1774},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/126_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,986},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/127_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,986},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/129_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,986},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/130_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{961,1183},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/143_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1281,1183},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pet_collection_1/145_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1601,1183},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pet_collection_1.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>pet_collection_1.png</string>
    </dict>
  </dict>
</plist>
