<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>battle_scene/p1_board.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{1280,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1280,304}}</string>
        <key>sourceSize</key>
        <string>{1280,304}</string>
      </dict>
      <key>battle_scene/bench_board.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,1},{688,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{688,152}}</string>
        <key>sourceSize</key>
        <string>{688,152}</string>
      </dict>
      <key>battle_scene/score_p1_board.png</key>
      <dict>
        <key>frame</key>
        <string>{{1973,1},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>battle_scene/score_p2_board.png</key>
      <dict>
        <key>frame</key>
        <string>{{1973,58},{55,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,55}}</string>
        <key>sourceSize</key>
        <string>{55,55}</string>
      </dict>
      <key>battle_scene/light_turn_board_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1973,115},{55,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,12}}</string>
        <key>sourceSize</key>
        <string>{55,12}</string>
      </dict>
      <key>battle_scene/light_turn_board_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1973,129},{55,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,12}}</string>
        <key>sourceSize</key>
        <string>{55,12}</string>
      </dict>
      <key>battle_scene/deck_count_icon.png</key>
      <dict>
        <key>frame</key>
        <string>{{1973,143},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>battle_scene/show_num_board.png</key>
      <dict>
        <key>frame</key>
        <string>{{2009,143},{29,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,19}}</string>
        <key>sourceSize</key>
        <string>{29,19}</string>
      </dict>
      <key>battle_scene/active_slot_light_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2009,164},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>battle_scene/p1_active_slot.png</key>
      <dict>
        <key>frame</key>
        <string>{{1283,155},{155,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,72}}</string>
        <key>sourceSize</key>
        <string>{155,72}</string>
      </dict>
      <key>battle_scene/p2_active_slot.png</key>
      <dict>
        <key>frame</key>
        <string>{{1440,155},{155,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,72}}</string>
        <key>sourceSize</key>
        <string>{155,72}</string>
      </dict>
      <key>battle_scene/black_card_container.png</key>
      <dict>
        <key>frame</key>
        <string>{{1597,155},{138,197}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{138,197}}</string>
        <key>sourceSize</key>
        <string>{138,197}</string>
      </dict>
      <key>battle_scene/end_turn_btn_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1737,155},{82,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,87}}</string>
        <key>sourceSize</key>
        <string>{82,87}</string>
      </dict>
      <key>battle_scene/end_turn_btn_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1821,155},{82,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,87}}</string>
        <key>sourceSize</key>
        <string>{82,87}</string>
      </dict>
      <key>battle_scene/active_slot_light_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1905,155},{23,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,23}}</string>
        <key>sourceSize</key>
        <string>{23,23}</string>
      </dict>
      <key>battle_scene/p2_board.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,307},{1280,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1280,304}}</string>
        <key>sourceSize</key>
        <string>{1280,304}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>battle_scene.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
      <key>textureFileName</key>
      <string>battle_scene.png</string>
    </dict>
  </dict>
</plist>
