<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>flip_coin_animations/blue/flip_coin_blue_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_horsea.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,96},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_psyduck.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,191},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_starmine.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,286},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,381},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_arbok.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,476},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_golbat.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,571},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_oddish.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,666},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,761},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_charmander.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,856},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,951},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_dugtrio.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,1},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_gr.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,96},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_kabuto.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,191},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_machamp.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,286},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_magmar.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,381},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_rapidash.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,476},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,571},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_chansey.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,666},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_jigglypuff.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,761},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_snorlax.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,856},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,951},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_togepi.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,1},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,96},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_lugia.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,191},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_magnemite.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,286},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_pikachu.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,381},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_raichu.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,476},{93,93}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,571},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,642},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,713},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,784},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,855},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,926},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,997},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/blue/flip_coin_blue_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{191,1011},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,1011},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,1},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,72},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,143},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,214},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,285},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,356},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,427},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,498},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,569},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,640},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,711},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_6.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,782},{93,69}}</string>
        <key>offset</key>
        <string>{-1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,12},{93,69}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/green/flip_coin_green_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,853},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,867},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/red/flip_coin_red_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,881},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,895},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/white/flip_coin_white_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,909},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,923},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>flip_coin_animations/yellow/flip_coin_yellow_5.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,937},{93,12}}</string>
        <key>offset</key>
        <string>{-1.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,42},{93,12}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>flip_coin_animations.png</string>
      <key>size</key>
      <string>{512,1024}</string>
      <key>textureFileName</key>
      <string>flip_coin_animations.png</string>
    </dict>
  </dict>
</plist>
