<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pokemon_card_template_x3/card_back/card_back.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{390,567}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,567}}</string>
        <key>sourceSize</key>
        <string>{390,567}</string>
      </dict>
      <key>pokemon_card_template_x3/card_back/card_back_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,570},{390,567}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,567}}</string>
        <key>sourceSize</key>
        <string>{390,567}</string>
      </dict>
      <key>pokemon_card_template_x3/card_back/card_back_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1139},{390,567}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,567}}</string>
        <key>sourceSize</key>
        <string>{390,567}</string>
      </dict>
      <key>pokemon_card_template_x3/image_border_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1708},{318,198}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,198}}</string>
        <key>sourceSize</key>
        <string>{318,198}</string>
      </dict>
      <key>pokemon_card_template_x3/move_btn_disabled.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1908},{321,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{321,66}}</string>
        <key>sourceSize</key>
        <string>{321,66}</string>
      </dict>
      <key>pokemon_card_template_x3/inner_background_card_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,1708},{318,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{318,195}}</string>
        <key>sourceSize</key>
        <string>{318,195}</string>
      </dict>
      <key>pokemon_card_template_x3/move_btn_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1976},{321,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{321,66}}</string>
        <key>sourceSize</key>
        <string>{321,66}</string>
      </dict>
      <key>pokemon_card_template_x3/move_btn_clicked.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1905},{321,63}}</string>
        <key>offset</key>
        <string>{0,-1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,3},{321,63}}</string>
        <key>sourceSize</key>
        <string>{321,66}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_dark.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1970},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_dragon.png</key>
      <dict>
        <key>frame</key>
        <string>{{389,1970},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_electric.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,1970},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_fighting.png</key>
      <dict>
        <key>frame</key>
        <string>{{519,1970},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_fire.png</key>
      <dict>
        <key>frame</key>
        <string>{{584,1970},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/card_back/card_back_raw.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,1},{390,567}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,567}}</string>
        <key>sourceSize</key>
        <string>{390,567}</string>
      </dict>
      <key>pokemon_card_template_x3/bottome_card_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,1},{144,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,24}}</string>
        <key>sourceSize</key>
        <string>{144,24}</string>
      </dict>
      <key>pokemon_card_template_x3/evolution_text_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{539,1},{69,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,27}}</string>
        <key>sourceSize</key>
        <string>{69,27}</string>
      </dict>
      <key>pokemon_card_template_x3/evolution_arrow.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,1},{33,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,36}}</string>
        <key>sourceSize</key>
        <string>{33,36}</string>
      </dict>
      <key>pokemon_card_template_x3/ability_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,27},{129,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{129,36}}</string>
        <key>sourceSize</key>
        <string>{129,36}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_grass.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,30},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/white_square.png</key>
      <dict>
        <key>frame</key>
        <string>{{589,39},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{524,95},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_psychic.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,65},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_steel.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,65},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/energy/energy_water.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,130},{63,63}}</string>
        <key>offset</key>
        <string>{1.5,1.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{18,15},{63,63}}</string>
        <key>sourceSize</key>
        <string>{96,96}</string>
      </dict>
      <key>pokemon_card_template_x3/evolution_square_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,130},{63,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,60}}</string>
        <key>sourceSize</key>
        <string>{63,60}</string>
      </dict>
      <key>pokemon_card_template_x3/card_border/border_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,570},{390,567}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,567}}</string>
        <key>sourceSize</key>
        <string>{390,567}</string>
      </dict>
      <key>pokemon_card_template_x3/card_border/border_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,1139},{390,567}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{390,567}}</string>
        <key>sourceSize</key>
        <string>{390,567}</string>
      </dict>
      <key>pokemon_card_template_x3/energy_name_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{641,1708},{348,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{348,45}}</string>
        <key>sourceSize</key>
        <string>{348,45}</string>
      </dict>
      <key>pokemon_card_template_x3/outer_background_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{991,1139},{378,540}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{378,540}}</string>
        <key>sourceSize</key>
        <string>{378,540}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pokemon_card_template_x3.png</string>
      <key>size</key>
      <string>{2048,2048}</string>
      <key>textureFileName</key>
      <string>pokemon_card_template_x3.png</string>
    </dict>
  </dict>
</plist>
