<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>mini_pokemon/006.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{88,78}}</string>
        <key>offset</key>
        <string>{-4,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{8,30},{88,78}}</string>
        <key>sourceSize</key>
        <string>{112,112}</string>
      </dict>
      <key>mini_pokemon/078.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,1},{74,68}}</string>
        <key>offset</key>
        <string>{7,-18}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{30,40},{74,68}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/031.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,1},{70,70}}</string>
        <key>offset</key>
        <string>{1,-13}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{26,34},{70,70}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/083.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,71},{52,44}}</string>
        <key>offset</key>
        <string>{2,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,62},{52,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/077.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,81},{48,46}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{36,60},{48,46}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/030.png</key>
      <dict>
        <key>frame</key>
        <string>{{51,81},{38,44}}</string>
        <key>offset</key>
        <string>{1,-28}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,62},{38,44}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/005.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,1},{44,46}}</string>
        <key>offset</key>
        <string>{0,-27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{38,60},{44,46}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/004.png</key>
      <dict>
        <key>frame</key>
        <string>{{285,1},{42,38}}</string>
        <key>offset</key>
        <string>{1,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{40,68},{42,38}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
      <key>mini_pokemon/029.png</key>
      <dict>
        <key>frame</key>
        <string>{{329,1},{36,38}}</string>
        <key>offset</key>
        <string>{0,-31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{42,68},{36,38}}</string>
        <key>sourceSize</key>
        <string>{120,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>mini_pokemon_list.png</string>
      <key>size</key>
      <string>{512,128}</string>
      <key>textureFileName</key>
      <string>mini_pokemon_list.png</string>
    </dict>
  </dict>
</plist>
