<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pokemon_card_template/card_back/card_back.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{130,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,189}}</string>
        <key>sourceSize</key>
        <string>{130,189}</string>
      </dict>
      <key>pokemon_card_template/card_back/card_back_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,192},{130,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,189}}</string>
        <key>sourceSize</key>
        <string>{130,189}</string>
      </dict>
      <key>pokemon_card_template/card_back/card_back_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,1},{130,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,189}}</string>
        <key>sourceSize</key>
        <string>{130,189}</string>
      </dict>
      <key>pokemon_card_template/card_back/card_back_raw.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,133},{130,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,189}}</string>
        <key>sourceSize</key>
        <string>{130,189}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_dark.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,133},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/bottome_card_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,156},{48,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,8}}</string>
        <key>sourceSize</key>
        <string>{48,8}</string>
      </dict>
      <key>pokemon_card_template/evolution_text_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,133},{23,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,9}}</string>
        <key>sourceSize</key>
        <string>{23,9}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_dragon.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,166},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_electric.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,166},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/card_border/border_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,324},{130,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,189}}</string>
        <key>sourceSize</key>
        <string>{130,189}</string>
      </dict>
      <key>pokemon_card_template/card_border/border_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,324},{130,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,189}}</string>
        <key>sourceSize</key>
        <string>{130,189}</string>
      </dict>
      <key>pokemon_card_template/outer_background_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,1},{126,180}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,180}}</string>
        <key>sourceSize</key>
        <string>{126,180}</string>
      </dict>
      <key>pokemon_card_template/image_border_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,129},{106,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,66}}</string>
        <key>sourceSize</key>
        <string>{106,66}</string>
      </dict>
      <key>pokemon_card_template/inner_background_card_default.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,197},{106,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,65}}</string>
        <key>sourceSize</key>
        <string>{106,65}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_fighting.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,264},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_fire.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,264},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_grass.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,264},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_normal.png</key>
      <dict>
        <key>frame</key>
        <string>{{324,287},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_psychic.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,287},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_steel.png</key>
      <dict>
        <key>frame</key>
        <string>{{370,287},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/energy/energy_water.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,310},{21,21}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{6,5},{21,21}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>pokemon_card_template/evolution_square_panel.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,264},{21,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,20}}</string>
        <key>sourceSize</key>
        <string>{21,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>pokemon_card_template.png</string>
      <key>size</key>
      <string>{512,512}</string>
      <key>textureFileName</key>
      <string>pokemon_card_template.png</string>
    </dict>
  </dict>
</plist>
